source_url "https://github.com/tmatilai/direnv-1password/raw/v1.0.1/1password.sh" \
    "sha256-4dmKkmlPBNXimznxeehplDfiV+CvJiIzg7H1Pik4oqY="

# Fetch one secret and export it into the specified environment variable
from_op DATABRICKS_JDBC_URL=op://Employee/e3ynriit7iof45533u3slrnjka/hostname
from_op DATABRICKS_TOKEN=op://Employee/e3ynriit7iof45533u3slrnjka/credential
