/*
 * Configuration file for the SQL execution example script
 */

// Enable the SQL DB plugin
plugins {
    id 'nf-sqldb@0.7.0'
}

// Define an in-memory H2 database for the example
sql {
    db {
        demo {
            url = 'jdbc:h2:mem:demo'
            driver = 'org.h2.Driver'
        }
    }
}

// Silence unnecessary Nextflow logs
process.echo = false
dag.enabled = false 