plugins {
    id 'nf-sqldb'
}

sql {
    db {
        foo {
            url = System.getenv('DATABRICKS_JDBC_URL')
            user = ''
            password = ''
            properties {
                token = System.getenv('DATABRICKS_TOKEN')
                ConnCatalog = "hive_metastore"
                ConnSchema = "default"
            }
            // Add any other required properties for Databricks
        }
    }
} 